html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2, select, input, a {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #4f92c3;
}

header {
  height: 200px;
  background-color: black;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: space-around;
}

img {
  max-width: 400px;
}

h1 {
  color: black;
   -webkit-text-fill-color: gray;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: maroon;
  font-size: 75px;
  margin-top: 40px;
  font-family: 'Racing Sans One', cursive;
  font-style: italic;
  letter-spacing: 5px;
}

h2 {
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

.header-logo {
  height: 75%;
  margin-top: 20px;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select,
input {
  font-size: 24px;
  width: 300px;
  margin: 10px;
}

.select-folder {
  text-align: center;
}

section h3 {
  text-align: center;
}

.folder-img {
  height: 100px;
}

.folder-display{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.folder {
  flex-basis: 20%;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 50px;
  
}

.folder:hover {
  background-color: #3d7bad;
}


.hidden-display {
  display: none;
}

@media (max-width: 800px) {
  .logo {
    flex-direction: column;
  }
  header {
    height: 400px;
  }

  .folder {
    flex-basis: 33%
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    margin: 20px;
  }

  .folder {
    flex-basis: 100%
  }
}
