html, body, h1, h2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: blue;
}

header {
  height: 200px;
  background-color: black;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: space-around;
}

h1 {
  color: black;
   -webkit-text-fill-color: gray;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: maroon;
  font-size: 75px;
  margin-top: 40px;
  font-family: 'Racing Sans One', cursive;
  font-style: italic;
  letter-spacing: 5px;
}

h2 {
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

.header-logo {
  height: 75%;
  margin-top: 20px;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select,
input {
  font-size: 24px;
  width: 300px;
  margin: 10px;
}

.folder-img {
  height: 100px;
}
